html {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #eee;
  color: grey;
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box;
  font-size: 14pt;
}
header {
    padding: 0;
    margin: 0;
		background: black;
}

h1 {
  color: white;
  font-size: 4em;
  text-align: center;
  display: block;
  font-weight: lighter;
  padding: 2%;
}
main {
  display: flex;
  flex-flow: row nowrap;
  width: 80%;
  margin: 0 auto;
}

main > div {
  margin: 50px 10px;
}

#basics {
  width: 15%;
  flex-grow: 1;
  margin: 10px;
  color: green;
}

#basics p {
  line-height: 0.7em;
  font-size: 0.8em;
  font-family: 'Lato', sans-serif;
}

#story p {
  border-left: 1px dotted grey;
  padding-left: 20px;
  line-height: 1.5em;
  font-family: 'Lato', sans-serif;
}

#story h2 {
  padding-left: 20px;
}

#story {
  width: 25%;
  flex-grow: 2;
  margin: 10px;
}

#picture {
  flex-grow: 0;
  margin: auto 10px;
}

#picture img {
  border-radius: 60px;
  width: 120px;
  height: 120px;
  background-color: green;
}


h2 {
  font-size: 2em;
  color: black;
}

/*
header:after{
		background:
					linear-gradient(-45deg, transparent 16px, red, 0),
					linear-gradient(45deg, transparent 16px, red,  0);
        background-repeat: repeat-x;
		background-position: left bottom;
        background-size: 22px 32px;
        content: "";
        display: block;

		width: 100%;
		height: 32px;

 	    position: relative;
		top:64px;
		left:0px;
	}*/
